################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

**/bin/
**/obj/
/.vs
/MyPortfolio/bin/Debug/net9.0/MyPortfolio.dll
/MyPortfolio/bin/Debug/net9.0/MyPortfolio.pdb
/MyPortfolio/bin/Debug/net9.0/MyPortfolio.staticwebassets.endpoints.json
/MyPortfolio/bin/Debug/net9.0/MyPortfolio.staticwebassets.runtime.json
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/blazor.boot.json
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/blazor.boot.json.gz
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/MyPortfolio.28olfvauoc.wasm
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/MyPortfolio.28olfvauoc.wasm.gz
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/MyPortfolio.ncoj97rotw.pdb
/MyPortfolio/bin/Debug/net9.0/wwwroot/_framework/MyPortfolio.ncoj97rotw.pdb.gz
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/blazor.boot.json
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/blazor.boot.json.br
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/blazor.boot.json.gz
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/MyPortfolio.6cwtme79on.wasm
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/MyPortfolio.6cwtme79on.wasm.br
/MyPortfolio/bin/Release/net9.0/publish/wwwroot/_framework/MyPortfolio.6cwtme79on.wasm.gz
/MyPortfolio/bin/Release/net9.0/MyPortfolio.dll
/MyPortfolio/bin/Release/net9.0/MyPortfolio.pdb
/MyPortfolio/bin/Release/net9.0/MyPortfolio.staticwebassets.endpoints.json
/MyPortfolio/bin/Release/net9.0/MyPortfolio.staticwebassets.runtime.json
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/blazor.boot.json
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/blazor.boot.json.gz
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/MyPortfolio.6cwtme79on.wasm
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/MyPortfolio.6cwtme79on.wasm.gz
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/MyPortfolio.zsrolt325d.pdb
/MyPortfolio/bin/Release/net9.0/wwwroot/_framework/MyPortfolio.zsrolt325d.pdb.gz
/MyPortfolio/obj/Debug/net9.0/compressed/apg9ik95ly-hdznng10ls.gz
/MyPortfolio/obj/Debug/net9.0/compressed/apg9ik95ly-ncoj97rotw.gz
/MyPortfolio/obj/Debug/net9.0/compressed/m1fpiixya9-dxovsqk5ws.gz
/MyPortfolio/obj/Debug/net9.0/compressed/m1fpiixya9-iqjb8zt0lt.gz
/MyPortfolio/obj/Debug/net9.0/compressed/ted0ak5oxo-28olfvauoc.gz
/MyPortfolio/obj/Debug/net9.0/compressed/ted0ak5oxo-9s2cvatfpe.gz
/MyPortfolio/bin/Release/net9.0/publish/wwwroot
/MyPortfolio/bin/Release/net9.0/publish/MyPortfolio.staticwebassets.endpoints.json
/MyPortfolio/obj/Debug/net9.0/ref/MyPortfolio.dll
/MyPortfolio/obj/Debug/net9.0/refint/MyPortfolio.dll
/MyPortfolio/obj/Debug/net9.0/tmp-webcil/MyPortfolio.wasm
/MyPortfolio/obj/Debug/net9.0/webcil/MyPortfolio.wasm
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.AssemblyInfo.cs
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.AssemblyInfoInputs.cache
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.csproj.BuildWithSkipAnalyzers
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.csproj.FileListAbsolute.txt
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.dll
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.pdb
/MyPortfolio/obj/Debug/net9.0/MyPortfolio.sourcelink.json
/MyPortfolio/obj/Debug/net9.0/rbcswa.dswa.cache.json
/MyPortfolio/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/MyPortfolio/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/MyPortfolio/obj/Debug/net9.0/rpswa.dswa.cache.json
/MyPortfolio/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/MyPortfolio/obj/Debug/net9.0/staticwebassets.build.json
/MyPortfolio/obj/Debug/net9.0/staticwebassets.build.json.cache
/MyPortfolio/obj/Debug/net9.0/staticwebassets.development.json
/MyPortfolio/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/MyPortfolio/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/MyPortfolio/obj/Debug/net9.0/blazor.boot.json
/MyPortfolio/obj/Release/net9.0/compressed/apg9ik95ly-1oimrdareg.gz
/MyPortfolio/obj/Release/net9.0/compressed/apg9ik95ly-zsrolt325d.gz
/MyPortfolio/obj/Release/net9.0/compressed/m1fpiixya9-1ndu3rvo0t.gz
/MyPortfolio/obj/Release/net9.0/compressed/m1fpiixya9-qov4j06ux7.gz
/MyPortfolio/obj/Release/net9.0/compressed/publish/90v3hslkmq-6cwtme79on.br
/MyPortfolio/obj/Release/net9.0/compressed/publish/90v3hslkmq-6cwtme79on.gz
/MyPortfolio/obj/Release/net9.0/compressed/publish/hotpf4tt6j-zq0h8kx1pa.br
/MyPortfolio/obj/Release/net9.0/compressed/publish/hotpf4tt6j-zq0h8kx1pa.gz
/MyPortfolio/obj/Release/net9.0/compressed/ted0ak5oxo-40zqdkp3jv.gz
/MyPortfolio/obj/Release/net9.0/compressed/ted0ak5oxo-6cwtme79on.gz
/MyPortfolio/obj/Release/net9.0/blazor.boot.json
/MyPortfolio/obj/Release/net9.0/blazor.publish.boot.json
/MyPortfolio/obj/Release/net9.0/MyPortfolio.AssemblyInfo.cs
/MyPortfolio/obj/Release/net9.0/MyPortfolio.AssemblyInfoInputs.cache
/MyPortfolio/obj/Release/net9.0/MyPortfolio.csproj.FileListAbsolute.txt
/MyPortfolio/obj/Release/net9.0/MyPortfolio.dll
/MyPortfolio/obj/Release/net9.0/MyPortfolio.pdb
/MyPortfolio/obj/Release/net9.0/MyPortfolio.sourcelink.json
/MyPortfolio/obj/Release/net9.0/rbcswa.dswa.cache.json
/MyPortfolio/obj/Release/net9.0/staticwebassets.build.endpoints.json
/MyPortfolio/obj/Release/net9.0/staticwebassets.build.json
/MyPortfolio/obj/Release/net9.0/staticwebassets.build.json.cache
/MyPortfolio/obj/Release/net9.0/staticwebassets.development.json
/MyPortfolio/obj/Release/net9.0/staticwebassets.publish.endpoints.json
/MyPortfolio/obj/Release/net9.0/staticwebassets.publish.json
/MyPortfolio/obj/Release/net9.0/webcil/MyPortfolio.wasm
/MyPortfolio/obj/Release/net9.0/webcil/publish/MyPortfolio.wasm
/MyPortfolio/obj/Release/net9.0/linked/MyPortfolio.pdb
/MyPortfolio/obj/Release/net9.0/tmp-webcil/publish/MyPortfolio.wasm
/MyPortfolio/obj/Release/net9.0/tmp-webcil/MyPortfolio.wasm
/MyPortfolio/obj/Release/net9.0/linked/MyPortfolio.dll
/MyPortfolio/obj/Release/net9.0/ref/MyPortfolio.dll
/MyPortfolio/obj/Release/net9.0/refint/MyPortfolio.dll
